body.small-square {
  margin:0px;
  height:704px;
  width:704px;
}
body.standard-portrait {
  margin:0px;
  height:985px;
  width:640px;
}
body.standard-landscape {
  margin:0px;
  height:576px;
  width:720px;
}
.page {
  position:absolute;
  height:inherit;
  width:inherit;
  z-index:10;
  background-color:#f4f4f4;
}
.style-modern .page.chapter {
  position:absolute;
  height:inherit;
  width:inherit;
  z-index:10;
  background-color:#ddd;
}
.small-square .figure.full-bleed {
  position:absolute;
  height:704px;
  width:704px;
  overflow:hidden;
  z-index:20;
}
.standard-portrait .figure.full-bleed {
	position:absolute;
	height:985px;
	width:640px;
	overflow:hidden;
	z-index:20;
}
.standard-landscape .figure.full-bleed {
  position:absolute;
  height:576px;
  width:720px;
  overflow:hidden;
  z-index:20;
}
.small-square .figure.inset {
  display:block;
  position:absolute;
  height:704px;
  width:704px;
  overflow:hidden;
  z-index:20;
}
.standard-portrait .figure.inset {
  display:block;
  position:absolute;
  height:720px;
  width:576px;
  overflow:hidden;
  z-index:20;
}
.standard-landscape .figure.inset {
  display:block;
  position:absolute;
  height:576px;
  width:720px;
  overflow:hidden;
  z-index:20;
}
.small-square.style-modern .figure.full-bleed img {
  height:704px;
  width:704px;
}
.standard-portrait.style-modern .figure.full-bleed img {
  height:985px;
  width:640px;
}
.standard-landscape.style-modern .figure.full-bleed img {
  height:576px;
  width:720px;
}
.small-square .figure.full-bleed video {
  height:704px;
  width:704px;
}
.standard-landscape .figure.full-bleed video {
  height:576px;
  width:720px;
}
.small-square .figure.inset img {
  position:absolute;
  top:60px;
  left:70px;
  height:554px;
  width:554px;
}
.standard-portrait .figure.inset img {
  position:absolute;
  top:60px;
  left:70px;
  height:570px;
  width:436px;
}
.standard-landscape .figure.inset img {
  position:absolute;
  top:60px;
  left:70px;
  height:456px;
  width:580px;
}
.small-square .figure.full-bleed.left img {
  position:absolute;
  width:auto;
  height:auto;
  min-height:704px;
  top:0px;
  left:0px;
}
.standard-portrait .figure.full-bleed.left img {
  position:absolute;
  width:auto;
  height:auto;
  min-height:720px;
  top:0px;
  left:0px;
}
.standard-landscape .figure.full-bleed.left img {
  position:absolute;
  width:auto;
  height:auto;
  min-height:576px;
  top:0px;
  left:0px;
}
.small-square .figure.full-bleed.right img {
  position:absolute;
  width:auto;
  height:auto;
  min-height:704px;
  min-width:704px;
  top:0px;
  left:-704px;
}
.standard-portrait .figure.full-bleed.right img {
	position:absolute;
	width:auto;
	height:auto;
	min-height:985px;
	min-width:640px;
	top:2px;
	left:-542px;
}
.standard-landscape .figure.full-bleed.right img {
  position:absolute;
  width:auto;
  height:auto;
  min-height:576px;
  min-width:720px;
  top:0px;
  left:-704px;
}
.small-square .figure.full-bleed.right img, .small-square .figure.full-bleed.left img {
  height:704px;
  width:auto;
}
.standard-portrait .figure.full-bleed.right img, .standard-portrait .figure.full-bleed.left img {
	height:985px;
	width:1000px;
}
.standard-landscape .figure.full-bleed.right img, .standard-landscape .figure.full-bleed.left img {
  height:576px;
  width:auto;
}
.figure .figcaption {
  position:absolute;
  color:#000;
  font-size:1em;
  font-weight:normal;
  font-family:"Gill Sans",sans-serif;
  text-shadow:0px 1px 0px #ccc;
  z-index:100;
}
.figure .figcaption.light {
  position:absolute;
  color:#fff;
  font-size:0.88em;
  font-family:"Gill Sans",sans-serif;
  text-shadow:0px 1px 1px #000;
  z-index:100;
}

.small-square .figure .figcaption {
  right:110px;
  bottom:40px;
  width:400px;
  height:100px;
}
.standard-portrait .figure .figcaption {
  right:83px;
  bottom:40px;
  width:400px;
  height:100px;
}

.standard-portrait .figure.inset .figcaption {
  left:70px;
  bottom:50px;
  width:400px;
  height:30px;
  text-shadow:none;
  color:#666;
  font-size:0.77em;
  overflow:hidden;
}

.standard-landscape .figure .figcaption {
  right:83px;
  bottom:40px;
  width:300px;
  height:100px;
}
.style-modern h2 {
  position:absolute;
  top:70px;
  left:90px;
  font-weight:normal;
  font-size:1.4em;
  font-family:'Gill Sans',sans-serif;
  text-shadow:0px 1px 0px #ccc;
  text-transform:uppercase;
  letter-spacing:0.4em;
  color:#333;
  z-index:30;
}
.style-modern .page.chapter h2 {
  bottom:70px;
}
.style-modern .page.right h2 {
  position:absolute;
  bottom:70px;
  right:90px;
  font-weight:normal;
  font-size:1.6em;
  font-family:'Gill Sans',sans-serif;
  text-shadow:0px 1px 3px #000;
  text-transform:uppercase;
  letter-spacing:0.5em;
  color:#ffffff;
  z-index:30;
}
.style-modern .page.cover h1, .style-modern .page.cover h2 {
  position:absolute;
  width:80%;
  padding:0% 10%;
  max-height:240px;
  overflow:hidden;
  font-family:'Gill Sans',sans-serif;
  text-align:center;
  font-weight:normal;
  z-index:30;
}
.style-modern .page.cover h1 {
  font-size:3em;
  color:#ffffff;
  top:270px;
  letter-spacing:-0.03em;
  text-shadow:0px 1px 3px #000;
  left:0px;
}
.style-modern .page.cover h2 {
  position:absolute;
  font-size:1.2em;
  text-transform:uppercase;
  color:#ffffff;
  letter-spacing:0.5em;
  top:520px;
  left:0px;
  text-shadow:0px 1px 3px #000;
  max-height:64px;
}
